scikit-learn==0.19.2
scikit-image==0.14.1
tensorflow-gpu==2.9.3
tensorboard==2.0.0
gym==0.14
six>=1.12.0

pandas
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-http-over-ws
seaborn
scipy
click
pillow
tqdm
flake8
pyyaml
yapf
mlflow
cairosvg
pycairo
flatland-rl